{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "object-curly-spacing": "off",
    "semi": ["warn", "always"],
    "operator-linebreak": "off",
    "max-len": ["error", {
        "code": 100,
        "ignoreTemplateLiterals": true
      }
    ]
  },
  "extends": [
    "eslint:recommended",
    "google"]
}